{
  "env": {
      "browser": true,
      "es6": true,
      "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:prettier/recommended"
  ],
  "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 2018,
      "sourceType": "module"
  },
  "plugins": [
      "react"
  ],
  "rules": {
      "prettier/prettier": ["error"],
      "quotes": [2, "single", { "avoidEscape": true }],
  },
  "ignorePatterns": ["*.test.js", "serviceWorker.js", "__mocks__"]
}